.pause-screen {
    display: none;
    position: absolute;
    width: 100%;
    background-color: black;
    height: 100%;
}


.pause-icon {
    font-size: 50pt;
    margin: 20px;
    position: absolute; 
}

.buttons {
    padding-top: 15%;
}