body, html {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu, .intro {
    display: none;
}





.buttons {
    text-align: center;
}


.btn-link, #play-game-text, .btn-gamemode {
    border: 2px solid white;
    color: white;

    padding: 15px 25px;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    text-decoration: none;
}


.btn-link:hover, #play-game-text:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#choose-gamemode {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    height: 15%;
    width: 50%;

    justify-content: space-evenly;

    left: 25%;
    top: calc(50% - 1%);
}

.btn-gamemode {
    border: 2px solid black;
    color: black;

    padding: 10px 20px;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    text-decoration: none;

    height: 35%;

    margin-top: auto;
    margin-bottom: auto;
}

.btn-gamemode:hover {
    background-color: black;
    color: white;
}


.slider-container {
    z-index: 1;
    display: none;
    position: absolute;
    bottom: 4%;
    left: 1%;
    width: 90%;
}

.slider {
    width: 20%;
    margin-left: 3%;
    margin-top: 1.15%;
}

.volume-icon {
    position: absolute;
    cursor: pointer;
}

.level {
    font-size: 30px;
    font-weight: bolder;
    height: 1%;
    width: 85px;
    text-align: center;
    border: 8px solid white;
    padding: 10px;
    cursor: pointer;
    transition: transform .2s;
}

.level:hover {
    transform: scale(1.1);
}

.levels {
    display: none;
}

.cred {
    display: none;
}




/* INTRO */



.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}













/*Snowflakes*/
/* customizable snowflake styling */
.snowflake {
    color: white;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake img {
    width: 12px;
    height: 12px;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 5%;
    -webkit-animation-delay: 6.3s, 8.2s;
    animation-delay: 6.3s, 8.2s
}

.snowflake:nth-of-type(11) {
    left: 15%;
    -webkit-animation-delay: 3.6s, 1.2s;
    animation-delay: 3.6s, 1.2s;
}

.snowflake:nth-of-type(12) {
    left: 25%;
    -webkit-animation-delay: 7.6s, 1.8s;
    animation-delay: 7.6s, 1.8s;
}

.snowflake:nth-of-type(13) {
    left: 35%;
    -webkit-animation-delay: 9.2s, 0.5s;
    animation-delay: 9.2s, 0.5s;
}

.snowflake:nth-of-type(14) {
    left: 45%;
    -webkit-animation-delay: 5.7s, 9.1s;
    animation-delay: 5.7s, 9.1s;
}

.snowflake:nth-of-type(15) {
    left: 55%;
    -webkit-animation-delay: 2.2s, 8.7s;
    animation-delay: 2.2s, 8.7s;
}

.snowflake:nth-of-type(16) {
    left: 65%;
    -webkit-animation-delay: 5.2s, 0.2s;
    animation-delay: 5.2s, 0.2s;
}

.snowflake:nth-of-type(17) {
    left: 75%;
    -webkit-animation-delay: 8s, 1.6s;
    animation-delay: 8s, 1.6s;
}

.snowflake:nth-of-type(18) {
    left: 85%;
    -webkit-animation-delay: 4.7s, 1.8s;
    animation-delay: 4.7s, 1.8s;
}

.snowflake:nth-of-type(19) {
    left: 95%;
    -webkit-animation-delay: 8.1s, 0.7s;
    animation-delay: 8.1s, 0.7s;
}
